.homeContact {
  height: 70vh;
  background-color: #ded18d;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 5rem;
  &__text {
    width: 90%;
    height: 60%;
    background-color: rgba(84, 120, 106, 1);
    border-radius: 0 3rem 3rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // flex-direction: column;
  }

  &__container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__img-container {
    width: 50%;
    height: 90%;
    position: absolute;
    background-repeat: none;
    background-position: center;
    background-size: cover;
  }
  &__img {
    border-radius: 0 3rem 3rem 0;
    width: 100%;
    height: 100%;
  }

  &__text-text {
    width: 45%;
    height: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(84, 120, 106, 1);
    border-radius: 0 3rem 3rem 0;
  }

  &__title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
    color: #efcf83;
  }

  &__button {
    padding: 1rem;
    border-radius: 1rem;
    border-color: transparent;
    background-color: #aa5725;
    color: #efcf83;
    cursor: pointer;
  }
}
